{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block content %}
<h3>ABOUT PAGE</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate deleniti dolor enim et fuga fugiat fugit molestiae nesciunt non nulla officia omnis, qui sint sunt tempore vitae! Ab autem consequuntur doloremque dolorum enim sapiente suscipit vel, voluptas. Ad adipisci, aliquam aliquid culpa delectus dignissimos eligendi id impedit inventore ipsa iste, itaque laboriosam maiores nisi, obcaecati perferendis provident sequi sit temporibus tenetur! Ad aliquid aut blanditiis cum ex, fugit id in ipsa iusto magnam, magni nobis officia, optio pariatur provident sequi sint. Quam quis, repudiandae. Cum dicta dolore maiores similique.</p>
<h3 class="tab">Available Events</h3>
<ul>
  <li>Sports</li>
  <li>Bakery</li>
  <li>Marketing</li>
  <li>Singing</li>
  <li>Heart Run</li>
  <li>Swimming</li>
</ul>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/assets/images/iffany-singer-8813370_1280.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/assets/images/kaazoom-ai-generated-9641410_1280.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/assets/images/iffany-singer-8813370_1280.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}

