<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body class="red">
<nav class="navbar">
    <div class="nav-container">
    <div class="logo">
        Event System
    </div>
    <ul class="nav-menu">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contact Us</a></li>
        <li class="nav-item"><a href="#event_list" class="nav-link">event_list</a></li>
        <li class="nav-item"><a href="#event_details" class="nav-link">event_details</a></li>
    </ul>
    <div class="nav-button">
        <button class="signup-btn">Sign Up</button>
    </div>
    </div>
</nav>
html><form action="">
    <h1>Details Form</h1>
    <div class="dat">
    <label>Date</label>
    <input type="date"><br><br>
    <label>Location</label>
    <input type="text"><br><br>
    <label>Description</label>
    <textarea cols="30" rows="10"></textarea><br><br>
    </div>
</form>
<footer> © Copyright EVANS' All Rights Reserved</footer>
</body>
</html>