<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<h1>EVENTS LIST</h1>
<nav class="navbar">
    <div class="nav-container">
    <div class="logo">
        Event System
    </div>
    <ul class="nav-menu">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contact Us</a></li>
        <li class="nav-item"><a href="#event_list" class="nav-link">event_list</a></li>
        <li class="nav-item"><a href="#event_details" class="nav-link">event_details</a></li>
    </ul>
    <div class="nav-button">
        <button class="signup-btn">Sign Up</button>
    </div>
    </div>
</nav>
<table>
    <tr>
         <th>Title</th>
         <th>Date</th>
         <th>Location</th>
         <th>Description</th>
    </tr>
    <tr>
        <td>Sports</td>
        <td>11/2/2026</td>
        <td>Moi Avenue</td>
        <td>Come with the necessary items</td>
    </tr>
    <tr>
        <td>Bakery</td>
        <td>12/3/2026</td>
        <td>Uhuru Park</td>
        <td>Be punctual</td>
    </tr>
    <tr>
        <td>Marketing</td>
        <td>13/4/2026</td>
        <td>CBD</td>
        <td>Carry packed lunch</td>
    </tr>
    <tr>
        <td>Singing</td>
        <td>23/4/2026</td>
        <td>City Park</td>
        <td>All are welcome</td>
    </tr>
    <tr>
        <td>Heart Run</td>
        <td>23/4/2026</td>
        <td>Thika Road</td>
        <td>Starting at 8.am</td>
    </tr>
    <tr>
        <td>Swimming</td>
        <td>26/4/2026</td>
        <td>Sahara Park</td>
        <td>Please come with ksh.500</td>
    </tr>
</table>
<button>BACK</button>
<footer> © Copyright EVANS' All Rights Reserved</footer>
</body>
</html>