{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<h2 class="bg-primary">WELCOME HOME</h2><br><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.364608380356!2d36.799707462709094!3d-1.268103226812914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f173c0a1f9de7%3A0xad2c84df1f7f2ec8!2sWestlands%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1770986763648!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div class="box">
<form action="">
    <label>Name</label>
    <input type="text"><br><br>
    <label>Email</label>
    <input type="email" name="" id=""><br><br>
    <label>Description</label>
    <textarea cols="30" rows="10"></textarea><br><br>
</form>
</div>
{% endblock %}
